@import (less) '../../components/SchoolDetail/SchoolDetail.less';

.metaInfo {
  text-align: left;
  padding: 0 20px;
}

.title {
  text-align: center;
}

.icon {
  text-align: center;
  font-size: 18px;
}

.contact {
}

.address {
}

.other {
  td {
    padding: 2px 15px 2px 0;
    &:last-child {
      font-weight: bold;
    }
  }
}