@import (less) '../../theme/less/colors.less';
@import (less) '../../theme/less/buttons.less';

.detail {
  background: @white;
  padding: 0;
}

.segment() {
  padding: 10px;
  overflow: hidden;
}

.units {
	padding: 20px;
}

.header {
  .segment();
  border-bottom: 1px solid @grayBg;
}

.body {
}

.footer {
  .segment();
  border-top: 1px solid @grayBg;
}

.map {
  margin: 20px 0 0;
}
