@import (less) './colors.less';

.pink {
    background: @pink;
    color: @white;
    text-transform: uppercase;
    border-color: @pink;

    &:disabled {
        color: @white;
        background: darken(@pink, 20%);
    }

    &:hover {
        color: @white;
        background: darken(@pink, 10%);
    }

    &:focus {
        outline: none;
        color: @white;
    }

    &:active {
        outline: none;
        background: darken(@pink, 15%);
    }
}

.green {
    background: @greenText;
    color: @white;
    text-transform: uppercase;
    border-color: @greenText;

    &:hover {
      color: @white;
      background: darken(@greenText, 10%);
    }

    &:focus {
      outline: none;
      color: @white;
    }

    &:active {
      outline: none;
      background: darken(@greenText, 15%);
    }
}
